extends layout
block content
    #main-content
    script(src='./javascripts/bundle.js')
    script(src='./javascripts/template/jquery.js')
    script(src='./javascripts/template/bootstrap.min.js')
    script(src='./javascripts/template/classie.js')
    script(src='./javascripts/template/jqBootstrapValidation.js')
    script(src='./javascripts/template/contact_me.js')
    script(src='./javascripts/template/agency.js')
    script(src='./javascripts/template/cbpAnimatedHeader.js')
