doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/template/agency.css')
    link(rel='stylesheet', href='/stylesheets/template/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/template/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')
  body
    block content
